<!-- Generated Using Ansuz CMS -->
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
  "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" lang="en" xml:lang="en">
  <head>
    <title><%= title_helper %></title>
    <meta http-equiv="content-type" content="text/html; charset=utf-8" />
    <meta http-equiv="Content-Script-Type" content="text/javascript" />
    <meta name="description" content="Brandon and Sarah Wedding Time." />
  	<meta name="keywords" content="marriage" />
    <link rel="shortcut icon" href="favicon.ico" type="image/vnd.microsoft.icon" />
    <link rel="icon"          href="favicon.ico" type="image/vnd.microsoft.icon" />
    <%= manage_ansuz_stylesheets %>
    <%= manage_ansuz_javascripts %>
    <%= theme_stylesheet_link_tag('ansuz_theme_wedding', 'base') -%>
    <!--[if IE]>
      <%= theme_stylesheet_link_tag('ansuz_theme_wedding', 'ie') -%>
    <![endif]--> 
    <%= theme_javascript_include_tag('ansuz_theme_wedding', 'date', 'flash_load', 'rollovers', 'slideshow', 'validate') -%>
  </head>
  <body>
  <div id="main_container">
	  <div class="parrot"><img src="images/arrow.jpg" alt="" title=""></div>
	  <div class="main_content">
    	<div id="header">
        	<div class="logo"><a href="#"></a></div>
      </div>
      <div class="top_center_box"></div>
      <div class="center_box">
        <div id="menu_tab">
          <%= render :partial => "page/top_nav" -%>
        </div>
        <%= yield :sidebar -%>
        <div id='content'>
          <%= @content_for_layout -%>
        </div>
        <%= render :partial => "page/footer" -%>
     
		</div> <!--end of center box-->
	</div> <!--end of main content-->
</div> <!--end of main container-->
 <script type='text/javascript'>
      jQuery(document).ready(function() { 
        // setup scrolling with this one JavaScript call 
        jQuery("div.scrollable").scrollable({ 
          // scrolling configuration 
          horizontal:true,  
          size:1
        });  
      });
    </script>
  </body>
</html>
